body {
  font-family: "Roboto", sans-serif;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid rgb(70, 100, 160);
  color: rgba(255, 255, 255, 1);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.btn-blue {
  background-color: rgb(65, 135, 245);
}

.btn-yellow {
  background-color: rgb(250, 185, 5);
}

.btn-red {
  background-color: rgb(235, 65, 55);
}

.cell {
  padding: 0px;
}

.row {
  padding: 0px;
  border-top: 2px solid rgb(70, 100, 160);
  border-left: 2px solid rgb(70, 100, 160);
  border-rght: 2px solid rgb(70, 100, 160);
  border-bottom: 1px solid rgb(70, 100, 160);
}

.tbl {
  border: 1px solid rgb(70, 100, 160);
  border-collapse: collapse;
}

.scr {
  font-size: 18px;
}
